{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <p class="text-center alert alert-danger">Oeps, Er is een probleem opgetreden tijdens het laden van deze pagina, probeer het opnieuw alsjeblieft.</p>
    </div>
{% endblock %}